.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .box {
    width: 49%;
    height: 119px;
    margin: 2.5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 5px;
    color: $color-light;
    cursor: pointer;
    transition: 0.25s;

    h3 {
      font-family: $font-header;
      font-size: 26px;
      font-weight: 600;
      padding: 0;
      margin: 0;
    }

    p {
      display: none;
    }

    &:hover {
      p {
        display: flex;
        margin: 0;
        font-family: $font-text;
        font-size: 14px;
      }
    }
  }

  .home-order {
    background-image: url(../../images/home/pizza-1.jpg);
  }

  .home-booking {
    background-image: url(../../images/home/pizza-2.jpg);
  }
}

.home-open-hours {
  width: 600px;
  height: 128px;
  background-color: $color-main;
  color: $color-light;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  h3 {
    font-size: 26px;
    font-family: $font-header;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-family: $font-text;
    margin: 0;
  }
}

/* carousel */

.main-carousel {
  margin: 75px 0;
}

.carousel-cell {
  width: 608px;
  height: 240px;
  display: flex;
  font-size: 14px;

  h4 {
    text-transform: uppercase;
    font-family: $font-header;
  }

  p {
    font-family: $font-text;
  }

  img {
    width: 193px;
    height: 180px;
    margin-right: 10px;
    border-radius: 5px;
  }
}

.flickity-button {
  display: none;
}

/* gallery */

.gallery-row {
  margin-top: 5px;
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: space-between;
}

.gallery-box {
  width: 33%;
  border-radius: 5px;
  transition: 1s;
  background-size: cover;
}

.gallery-box:hover > .overlay {
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
}

.img-1 {
  background-image: url('../../images/home/pizza-4.jpg');
}

.img-2 {
  background-image: url('../../images/home/pizza-5.jpg');
}

.img-3 {
  background-image: url('../../images/home/pizza-6.jpg');
}

.img-4 {
  background-image: url('../../images/home/pizza-7.jpg');
}

.img-5 {
  background-image: url('../../images/home/pizza-8.jpg');
}

.img-6 {
  background-image: url('../../images/home/pizza-9.jpg');
}

.overlay {
  padding-top: 70px;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.300);
  border-radius: 5px;

  i {
    color: $color-light;
    font-size: 23px;
    transition: 0.5s;
  }

  i:hover {
    color: $color-main;
  }
}

.media-link {
  margin-top: 21px;

  a {
    color: $color-main;
  }
}
